

python-dotenv
flask

# LangChain (compatible versions)
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

# Pinecone integration
langchain-pinecone


#Groq LLama
langchain-groq

# Embeddings / Vectorization
sentence-transformers
pypdf


-e .

